html,body{
    height: 100vh;
    background-color: rgb(39, 39, 122);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div{
    background-color: rgba(177, 175, 175, 0.144);
    padding: 50px;
    text-align: center;
    border-radius:10px ;
    font: bolder;
}

div h1, p, a{
    text-decoration: none;
    color: black;
}

div a{
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

div a:hover{
    background-color: rgb(39, 39, 122);
    color: black;
}